[Unit]
Description=Apache Spark History Server
After=network.target hadoop.service
Requires=hadoop.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=spark
Group=spark
ExecStart={{SPARK_HOME}}/sbin/start-history-server.sh
ExecStop={{SPARK_HOME}}/sbin/stop-history-server.sh

[Install]
WantedBy=multi-user.target
