[Unit]
Description=Apache Hadoop All-in-One Service (NameNode, DataNode, ResourceManager, NodeManager, HistoryServer)
After=network.target
Requires=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
Group=root
ExecStart={{HADOOP_HOME}}/sbin/start-hadoop.sh
ExecStop={{HADOOP_HOME}}/sbin/stop-hadoop.sh

[Install]
WantedBy=multi-user.target
